<div class="modal-header">
  <h4 class="modal-title text-uppercase">{{popupTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>


</div>
<div class="modal-body">
    <form [formGroup]="addrole">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="first_name">User Role
                  <span class="mandatory">*</span>
                </label>
                <input type="text" class="form-control" formControlName="role" id="role" placeholder="Enter Role">
                <small class="text-danger" *ngIf="addrole.controls['role'].hasError('required') && addrole.controls['role'].touched">
                 Role is mandatory. </small>
              </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
              <div class="form-group green-border-focus">
                <label for="formate">Role Description <span class="mandatory">*</span></label>
                <textarea class="form-control form-rounded formtextare"  formControlName="description" rows="5"></textarea>
                <small class="text-danger" *ngIf="addrole.controls['description'].hasError('required') && addrole.controls['description'].touched">
                Description is mandatory. </small> 
              </div>
              </div>
          </div>
      
         </form>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-customer btn-sm mx-2" click-stop-propagation [disabled]="addrole.invalid" (click)="addsaveDetails()">{{buttonTitle}}</button>
  <button type="button" class="btn btn-customer btn-sm mx-2"  *ngIf="showhide" (click)="clearrole()">Clear</button>
  <button type="button" class="btn btn-customer btn-sm mx-2" (click)="activeModal.close('Close click')">Cancel</button>

</div>