<div class="modal-header">
  <h4 class="modal-title text-uppercase">Map Fields</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>


</div>
<div class="modal-body">
  <form [formGroup]="searchMapFormFields">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="state">Type</label>
        <ng-select [items]="formType" bindLabel="item_name" bindValue="item_id" (change)=onTypeChange($event) placeholder="select type"
          formControlName="type_id">
        </ng-select>
      </div>
      <div class="form-group col-md-4">
        <label for="state">Group Name</label>
        <ng-select [items]="formFieldMapGroupData" (change)=onGroupChange($event) bindLabel="group_name" placeholder="Select group"
          bindValue="group_id" formControlName="group_id">
        </ng-select>
      </div>
      <div class="form-group col-md-4">
        <label for="state">Sub Group Name</label>
        <ng-select [items]="formFieldMapSubGroupData" (change)=onsugroupChange($event) bindLabel="sub_group_name" placeholder="Select sub group"
          bindValue="sub_group_id" formControlName="sub_group_id">
        </ng-select>
      </div>

      <div class="form-group col-md-4">
        <label for="state">Field Name</label>
        <input type="text" class="form-control" formControlName="search_text" placeholder="Search for field name">
      </div>
<!-- *ngIf="showmulti" -->
      <div class="form-group col-md-4" >
        <label>Multiple Location Instance</label>
        <div class="pt-2">
          <div class="form-check form-check-inline">
            <!--  -->
            <input class="form-check-input" type="checkbox" [checked]="checkModel" formControlName="is_multiple" (change)="onchangemulti($event)">
            <label class="form-check-label" for="is_multi">Multiple Location Instance</label>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="form-row" *ngIf="showmulti">
      <input class="form-check-input" type="checkbox" [checked]="checkModel" formControlName="is_multiple" (change)="onchangemulti($event,is_multiple)">
      <label class="form-check-label" for="is_multi">Multiple Location Instance</label>
    </div> -->


  </form>

  <div class="modal-footer">

    <button class="btn btn-custom-status btn-sm" (click)="search()" type="button">
      <i class="fas fa-search"></i>
      <span class="px-2">Search</span>
    </button>
    <button class="btn btn-custom-status  btn-sm" (click)="clear()" type="button">
      <i class="fas fa-redo-alt"></i>
      <span class="px-2">Reset</span>
    </button>

  </div>
  <!-- <div class="row">
    <div class="col-md-12">
        <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="" (change)='toggle($event)'
              >Multiple Location Instance
            </label>
          </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <!-- [loadingIndicator]="loading"  [externalPaging]="true" [count]="fieldCount"
      [offset]="fieldOffset" [limit]="fieldLimit" (page)="onPage($event)" [rowHeight]="'auto'"-->
      <ngx-datatable #fieldMapping class="material striped" class="material striped" [rows]="formFieldToMapData" [columns]="columns"
        [columnMode]="'force'" [headerHeight]="37" [footerHeight]="0" [rowHeight]="37" [scrollbarV]="true" [externalSorting]="true"
        (sort)="onSort($event)">


        <ngx-datatable-column name="Field Name" [sortable]="true" [width]="200">
          <ng-template let-rowIndex="rowIndex " let-row="row " ngx-datatable-cell-template>
            <span>{{row.field_name}}</span>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Field Order" *ngIf="showcolumn" [width]="200">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span *ngIf="!editing[rowIndex + '-gender']">
                <button class="btn btn-sm btn-icon" (click)="editing[rowIndex + '-gender'] = true">
                    <i class="fas fa-edit"></i>
                  </button>
              {{row.multi_selected_item_name}}
            </span>
            <select *ngIf="editing[rowIndex + '-gender']" (blur)="editing[rowIndex + '-gender'] = false" (change)="updateValue($event, 'gender', rowIndex, row)"
              [value]="value">
              <option *ngFor="let option of row.multipleLocation" [ngValue]="option.item_id"> {{ option.item_name }}</option>
            </select>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Field Order" *ngIf="showcolumn" [width]="200">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex " let-row="row " let-value="value ">
            <select (change)="updateValue($event, rowIndex, row) " [value]="value">
              <option *ngFor="let obj of row.multipleLocation " [ngValue]="obj.item_id"  [selected]="obj.item_id == '3'">{{obj.item_name}}</option>
            </select>
            <select (change)="updateValue($event, rowIndex, row)" [value]="value">
              <option *ngFor="let option of row.multipleLocation" [ngValue]="option.item_id">
                {{ option.item_name }}
              </option>
            </select>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Map" [width]="200">
          <ng-template let-rowIndex="rowIndex " let-row="row " ngx-datatable-cell-template>
            <button *ngIf="!row.is_mapped" type="button " class="btn btn-custom-map btn-sm mx-2 " (click)="mapField(row) ">Map</button>
            <button *ngIf="row.is_mapped" type="button " class="btn btn-custom-mapped btn-sm mx-2 ">Mapped</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

</div>
<!-- <div class="modal-footer ">
  <button type="button " class="btn btn-customer btn-custom-status btn-sm mx-2 " (click)="addCustomerDetails() ">Map</button>
  <button type="button " class="btn btn-customer btn-custom-status btn-sm mx-2 " (click)="reset() ">Clear</button>
  <button type="button " class="btn btn-customer btn-custom-status btn-sm mx-2 " (click)="activeModal.close(
        'Close click') ">Cancel</button>

</div> -->