

 @font-face {
    font-family: OpenSans;
    src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(fonts/Work_Sans/WorkSans-Regular.ttf);
}

@import './variables';
@import './mixins';
@import './common';